.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: rgba(255, 255, 255, 0.781); 
  border-radius: 3px;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;

  h2, p, a {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
  }
}

.expanded {
  height: 300px;

  h2, p, a {
    opacity: 1;
    transform: translateY(0);
  }
  border: 1px solid rgba(255, 255, 255, 0.651);
}


